@import "../../styles/all";

.cardContainer{

    background-color: white;
    padding: 20px;
    min-height: 150px;
    .header{
        font-size: 24px;
        font-weight: 700;
    }
    .relatedSkillsContainer{
        .relatedSkills{
            font-weight: 400;
            font-size: 18px;
            margin: 13px 0;
        }
        .skillTags{
            display: flex;
            .tag{
                background-color: #C4C4C4;
                font-weight: 400;
                font-size: 18px;
                width: fit-content;
                padding: 5px;
                border-radius: 5px;
                margin: 10px 5px;
            }
        }
    }


    .viewDetails{}

}