@import "../../styles/all";
.headerContainer{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
    background-color: white;
    height: 77px;
    align-items: center;
    .logo{

            min-width: 50%;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    }
    .navLinks{
        min-width: 23%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}




